.mt-8{
    margin-top: 80px;
}
.review-section{
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 768px){
    
    .review-section{
        grid-template-columns: repeat(1, 1fr);
    }
}