.review{
    width: 300px;
    border-radius: 6px;
    padding: 40px 20px;
    text-align: justify;
}
.review img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid crimson;
    display: block;
    margin: 0 auto;
}

.review h4{
    font-size: 20px;
    text-align: center;
    padding: 12px 0;
}

.ratings{
    margin: 15px 0;
}